.row {
    margin-right: 0px !important;
}
.registration {
    margin-top: 81px;
}
.leftImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}
.body-logo {
    height: 100px;
}
.registration--heading-tertiary {
    margin-top: 30px;
}
.registration__button--facebook {
    margin-top: 10px;
    background-color: #4267b2 !important;
    color: white !important;
    width: 420px;
}
.facebook__icon {
    margin-right: 20px;
}
.registration__form label {
    margin-bottom: 0;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.registration__input {
    width: 420px;
    padding: 8px 25px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.registration__form .form-group {
    margin-top: 30px !important;
}
.submit--button {
    background-color: #ff595e !important;
    color: white !important;
    box-shadow: 0 5px 20px #80808070;
}
.registration__submit--button--container {
    width: 420px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.registration__submit--button--container span {
    font-size: 14px;
}
.good {
    color: #15af86;
}
.bad {
    font-size: 14px;
    color: #e63946;
}

.right-side {
    margin-top: 86px !important;
}

.img-container {
    height: 100%;
}

@media all and (max-width: 330px) {
    .registration {
        margin-top: 72px;
    }
}

@media all and (max-width: 768px) {
    .leftImage {
        display: none;
    }
    .right-side {
        margin-top: 100px !important;
    }
    .registration--heading-tertiary {
        text-align: center;
    }
    .registration,
    .login,
    .verify-email .col-md-6 {
        padding-right: 0px !important;
    }

    .registration__input {
        width: 280px;
    }
    .registration__form label {
        width: 280px;
        display: block;
    }
    .registration__submit--button--container {
        width: 280px;
        margin-top: 30px;
        display: block;
    }
    .registration .form-group {
        text-align: center;
    }
    .registration__form label {
        margin: 0 auto;
    }
    .registration__button--facebook {
        width: 280px;
    }
    .registration__button {
        text-align: center;
    }
    .registration__submit--button--container {
        margin: 0 auto;
        text-align: center;
    }
    .registration__submit--button--container button {
        margin-top: 25px;
    }
}
