.footer{
    padding: 60px 0px;
}
.footer ul{
    list-style: none;
    padding:0;
}
.footer ul li{
    margin-bottom: 10px;
}
.footer h4{
    margin-bottom: 20px;
}
.fb, 
.instagram, 
.linkedin,
.youtube{
    margin-right: 8px;
}
