* {
  margin: 0;
}

:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
